@require 'vars'
@require 'functions'
@require 'utilities'
@require 'basic'

@require 'navbar'
@require 'hero'

header
    background url('../images/hero-bg.jpg') no-repeat
    min-height header-min-height
    height 100vh
    padding-bottom header-padding-bottom
    @media screen and (max-width: 767px)
        padding-bottom @padding-bottom * 1.5
    p, h1, h2, h3
        color main-white

.main-body>div
    padding product-section-padding-tb 0
    &:nth-child(even)
        background product-section-alt-bg
        box-shadow inset 0 7px 4px -4px #CCC, inset 0 -7px 4px -4px #CCC

.product-section
    max-width site-width
    margin 0 auto
    article
        padding 0 article-padding-lr
    h2
        font-size 32px
        font-weight bold


@media screen and (min-width: 480px)
    .product-img-container
        position relative
        img
            position absolute
            top 0;bottom 0;left 0;right 0
            margin auto!important

.codellege article
    margin-top 30px
    h2
        color codellege-color

.tutorcloud article
    h2
        color tutorcloud-color
        @media screen and (max-width: 479px)
            margin-top 46px

.matchboard article
    margin-top 15px
    h2
        color matchboard-color

footer
    background footer-bg
    color main-white
    border-bottom 20px solid coala-green
    padding footer-padding
    text-align center
    font-size footer-font-size
    .logo-container
        display flex
        justify-content center
        >div
            align-self center
    img.logo
        height footer-logo-height
        margin-right 16px
    ul
        list-style-type none
        li
            margin-bottom 12px
        li a
            font-size footer-font-size
            color main-white
            &:hover, &:focus, &:active
                color main-white
