$font = Roboto, '微軟正黑體'
site-width = 1400px
global-font = 22px\/40px $font

header-min-height = 1000px

navbar-padding-lr = 80px
navbar-height = 180px
nav-font = 22px\/navbar-height $font
nav-link-padding = 0 30px

hero-margin-top = 100px
hero-heading-font-size = 66px
hero-heading-margin-bottom = 100px
hero-p-font-size = 26px
hero-p-line-height = 52px

hero-btn-margin-top = 120px
hero-btn-font-size = 36px
hero-btn-width = 300px
hero-btn-height = 100px
hero-btn-action-border = 5px solid main-white
hero-btn-action-radius = 16px

content-padding-lr = 80px

main-black = #524e4b
main-white = #FFF

coala-green = #559a59
codellege-color = #b12424
tutorcloud-color = #4889f5
matchboard-color = #b19124

footer-bg = #333333
